:root {
  --primary-bg: #3d3d3d;
  --secondary-bg: #2d2d2d;
  --neutral-gray: #666;
  --accent-color: #ff7eb9;
  --accent-color1: #61dafb;
  --accent-color2: #ffb862;
  --accent-color3: #1a73e8;
  --link-hover: #0d5cb6;
  --button-color: #61dafb;
  --button-color1: #2b2b2b;
  --link-color: #61dafb;
  --link-color1: #ffb862;
  --border-color: #3e3e3e;
  --text-color: #fff;
  --border-color: #ccc;
  --medium-pink: #ffa3c0;
  --dusty-rose: #e6738e;
  --rose-gold: #b76e79;
  --link-hover-color: #ff7eb9;
  --soft-blue: #87ceeb;
  --subdued-green: #8fbc8f;
  --deep-purple: #800080;
  --warm-yellow: #ffd700;
}
.projects-slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-slider-inner {
  max-width: 75%;
}
.project-card {
  color: var(--text-color);
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 8px var(--text-color);
  transition: transform 0.3s ease-in-out;
  position: relative;
  background-color: var(--secondary-bg);
  border-right: 10px solid var(--warm-yellow); /* Add this line for the border */
}
.projects {
  margin: 0 auto;
}

.project-heading {
  width: 100%;
  background-color: var(--secondary-bg);
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
}
.project-heading h3 {
  font-size: 1.5rem;
}
.project-links {
  display: flex;

  justify-content: center;
}
@media screen and (max-width: 1380px) {
  .project-links {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1175px) {
  .project-heading h3 {
    font-size: 1rem;
  }
  .project-links a {
    font-size: 0.9rem !important;
  }
  .project-description {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 915px) {
  .project-card {
    flex-direction: column;
  }
}
.project-links svg {
  margin-right: 5px;
}
.project-links a {
  font-size: 1.1rem;
  color: black;
  padding: 0.5rem;
  display: flex;
  text-decoration: none;
}
.project-links a:hover {
  color: var(--link-hover);
}
.project-info {
  background-color: var(--text-color);
}
.project-description {
  padding: 0.75rem;
  color: var(--primary-bg);
}

.projects-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.project-card:hover {
  cursor: pointer;
}

.project-image {
  display: flex;
  max-width: 75%;
  max-height: 75%;
  object-fit: cover;
}
.project-image {
  transition: opacity 0.5s ease; /* Adjust the duration and easing function as needed */
}

.project-image.hovered {
  opacity: 0;
}

.right-slider-button,
.left-slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background-color: var(--accent-color3);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.right-slider-button {
  right: 10px;
}

.left-slider-button {
  left: -10px;
}
.right-slider-button:hover,
.left-slider-button:hover {
  background-color: var(--link-hover);
}
