:root {
  --primary-bg: #3d3d3d;
  --secondary-bg: #2d2d2d;
  --neutral-gray: #666;
  --accent-color: #ff7eb9;
  --accent-color1: #61dafb;
  --accent-color2: #ffb862;
  --accent-color3: #1a73e8;
  --link-hover: #0d5cb6;
  --button-color: #61dafb;
  --button-color1: #2b2b2b;
  --link-color: #61dafb;
  --link-color1: #ffb862;
  --border-color: #3e3e3e;
  --text-color: #fff;
  --border-color: #ccc;
  --medium-pink: #ffa3c0;
  --dusty-rose: #e6738e;
  --rose-gold: #b76e79;
  --link-hover-color: #ff7eb9;
  --soft-blue: #87ceeb;
  --subdued-green: #8fbc8f;
  --deep-purple: #800080;
  --warm-yellow: #ffd700;
}
.about-container section p {
  padding: 0.25rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
}
.about-container h3 {
  padding: 1rem;
  border-bottom: 1px solid var(--text-color);
  font-size: 2rem;
  margin-bottom: 10px;
}
.about-container section {
  max-width: 75%;
  margin: 0 auto;
  background-color: var(--link-hover);
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  box-shadow: 0 4px 8px var(--text-color);
}
.about-container section a {
  color: var(--accent-color);
}
@media screen and (max-width: 1220px) {
  .about-container section p {
    font-size: 0.75rem !important;
  }
}
