* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: #3d3d3d;
  --secondary-bg: #2d2d2d;
  --neutral-gray: #666;
  --accent-color: #ff7eb9;
  --accent-color1: #61dafb;
  --accent-color2: #ffb862;
  --accent-color3: #1a73e8;
  --link-hover: #0d5cb6;
  --button-color: #61dafb;
  --button-color1: #2b2b2b;
  --link-color: #61dafb;
  --link-color1: #ffb862;
  --border-color: #3e3e3e;
  --text-color: #fff;
  --border-color: #ccc;
  --medium-pink: #ffa3c0;
  --dusty-rose: #e6738e;
  --rose-gold: #b76e79;
  --link-hover-color: #ff7eb9;
  --soft-blue: #87ceeb;
  --subdued-green: #8fbc8f;
  --deep-purple: #800080;
  --warm-yellow: #ffd700;
}

body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--secondary-bg),
    var(--primary-bg)
  );
  filter: saturate(2);
  overflow: hidden;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
  gap: 10px;
}
.background-animation-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: var(--soft-blue);
  filter: blur(80px);
  animation: animationBackground 6s linear infinite;
}
@keyframes animationBackground {
  0% {
    top: -300px;
  }
  100% {
    top: 120%;
  }
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: inherit;
  filter: brightness(1.1);
  transition: background 2s ease;
}

.skills-container {
  border-radius: 8px;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
}
.skill-icon img {
  width: 24px;
  height: 24px;
}
.skill-icon svg {
  width: 24px;
  height: 24px;
}
.skill-card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: calc(25% - 40px);
  height: calc(33.33% - 10px);
  box-sizing: border-box;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.skill-card:hover {
  background-color: var(--accent-color);
}
.about-container,
.projects-slider,
.contact-container {
  padding: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 1450px) {
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1220px) {
  .about-container section p {
    font-size: 0.75rem !important;
  }
  .content-container {
    height: 100%;
    margin: 0 auto;
  }
  .heading {
    margin: 0 auto;
    max-height: 255px;
  }

  .layout-nav li {
    font-size: 0.75rem;
  }

  .about-container .skill-card {
    width: 20%;
  }
  .skills-container {
    max-width: 100%;
  }
  .skills-container .skill-card {
    margin: 1px;
  }
}

@media screen and (max-width: 1310px) {
  .about-container h3 {
    font-size: 1.1rem !important;
  }
  .about-container section p {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 1010px) {
  .about-container section {
    max-width: 60% !important;
  }

  .container {
    flex-direction: column;
  }
  .about-container {
    display: flex;
  }
  .content-container {
    min-height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .heading {
    margin: 0 auto;
  }
  .heading h1 {
    font-size: 1.2rem;
  }
  .heading p {
    font-size: 0.9rem;
  }
  .heading h1,
  .heading p {
    text-align: center;
  }
  .about-container h3 {
    font-size: 1rem !important;
  }
  .about-container section p {
    font-size: 0.75rem !important;
  }
  .layout-nav ul {
    flex-direction: row !important;
  }
  .layout-nav li {
    font-size: 0.75rem;
  }
  .skill-icon svg {
    width: 12px;
    height: 12px;
  }
  .skill-card {
    width: 20%;
    height: 20%;
    font-size: 0.55rem;
  }
}
@media screen and (max-height: 670px) {
  .app-container {
  }
  .about-container section {
    max-width: 60% !important;
  }
  .container {
    flex-direction: column;
  }
  .about-container {
    display: flex;
  }
  .content-container {
    min-height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .heading {
    margin: 0 auto;
  }
  .heading h1 {
    font-size: 1.2rem;
  }
  .heading p {
    font-size: 0.9rem;
  }
  .heading h1,
  .heading p {
    text-align: center;
  }
  .about-container h3 {
    font-size: 1.1rem !important;
  }
  .about-container section p {
    font-size: 0.9rem !important;
  }
  .layout-nav ul {
    flex-direction: row !important;
  }
  .layout-nav li {
    font-size: 0.75rem;
  }
}
@media screen and (max-height: 670px) {
  .container {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  .heading p,
  .heading h1,
  .heading li {
    margin: 0 auto;
  }
  .content-container {
    margin-top: 5px;
  }
}
@media screen and (max-width: 650px) {
  .content-container {
    width: 100% !important;
  }
  .about-container {
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .heading li {
    margin: 0 auto;
    padding: 5px;
    font-size: 0.75rem;
  }
  .skill-card {
    width: 55px !important;
    height: 55px !important;
  }
}
@media screen and (max-width: 475px) {
  .heading h1 {
    margin: 0 auto;
  }
  .heading p {
    margin: 0 auto;
  }
  .heading li {
    margin: 0 auto;
    font-size: 0.65rem !important;
  }
  .about-container section h3 {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 0.75rem !important;
  }
  .about-container section .about-text p {
    font-size: 0.65rem !important;
  }
  .heading h1 {
    margin: 0 auto;
  }
  .heading p {
    margin: 0 auto;
  }
  .heading li {
    margin: 0 auto;
    padding: 5px;
    font-size: 0.6rem !important;
  }
}
@media screen and (max-height: 445px) {
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 0.75rem;
  }
}
@media screen and (max-height: 355px) {
  .content-container {
    width: 100% !important;
  }
  .about-container section h3 {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 0.75rem !important;
  }
  .about-container section .about-text p {
    font-size: 0.65rem !important;
  }
  .heading h1 {
    margin: 0 auto;
  }
  .heading p {
    margin: 0 auto;
  }
  .heading li {
    margin: 0 auto;
    padding: 5px;
    font-size: 0.6rem !important;
  }
  .skill-card {
    height: 75px;
    width: 75px;
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 355px) {
  .skill-card svg {
    width: 10px;
    height: 10px;
  }
  .skill-card {
    min-width: 55px;
    margin: 0 auto;
    font-size: 0.55rem;
  }
  .about-container section h3 {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 0.75rem !important;
  }
  .about-container section .about-text p {
    font-size: 0.65rem !important;
  }
}
