* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: #3d3d3d;
  --secondary-bg: #2d2d2d;
  --neutral-gray: #666;
  --accent-color: #ff7eb9;
  --accent-color1: #61dafb;
  --accent-color2: #ffb862;
  --accent-color3: #1a73e8;
  --link-hover: #0d5cb6;
  --button-color: #61dafb;
  --button-color1: #2b2b2b;
  --link-color: #61dafb;
  --link-color1: #ffb862;
  --border-color: #3e3e3e;
  --text-color: #fff;
  --border-color: #ccc;
  --medium-pink: #ffa3c0;
  --dusty-rose: #e6738e;
  --rose-gold: #b76e79;
  --link-hover-color: #ff7eb9;
  --soft-blue: #87ceeb;
  --subdued-green: #8fbc8f;
  --deep-purple: #800080;
  --warm-yellow: #ffd700;
}

body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--secondary-bg),
    var(--primary-bg)
  );
  filter: saturate(2);
  overflow: hidden;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
  gap: 10px;
}
.background-animation-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: var(--soft-blue);
  filter: blur(80px);
  animation: animationBackground 6s linear infinite;
}
@keyframes animationBackground {
  0% {
    top: -300px;
  }
  100% {
    top: 120%;
  }
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: inherit;
  filter: brightness(1.1);
  transition: background 2s ease;
}

.skills-container {
  border-radius: 8px;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
}
.skill-icon img {
  width: 24px;
  height: 24px;
}
.skill-icon svg {
  width: 24px;
  height: 24px;
}
.skill-card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: calc(25% - 40px);
  height: calc(33.33% - 10px);
  box-sizing: border-box;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.skill-card:hover {
  background-color: var(--accent-color);
}
.about-container,
.projects-slider,
.contact-container {
  padding: 1rem;
  margin: 0 auto;
}
@media screen and (max-height: 760px) {
  .skill-card {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
  }
  .skill-icon img {
    width: 16px;
    height: 16px;
  }
  .skill-icon svg {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 1165px) {
  .skill-card {
    margin: 2px;
  }
}
@media screen and (max-width: 1055px) {
  .skill-card {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 1055px) {
  .skill-card {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 1000px) {
  .skills-container {
    max-width: 100%;
    width: 100%;
  }
  .skill-card {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 832px) {
  .skill-card {
    width: calc(14% - 10px);
    height: calc(14% - 10px);
  }
  .skill-icon img {
    width: 12px;
    height: 12px;
  }
  .skill-icon svg {
    width: 12px;
    height: 12px;
  }
  .skill-card {
  }
}
@media screen and (max-height: 615px) {
  .skill-card {
    width: calc(14% - 10px);
    height: calc(14% - 10px);
  }
  .skill-icon img {
    width: 12px;
    height: 12px;
  }
  .skill-icon svg {
    width: 12px;
    height: 12px;
  }
  .skill-card {
  }
}
@media screen and (max-height: 545px) {
  .skill-card {
    width: calc(18% - 10px);
    height: calc(18% - 10px);
  }
  .skill-icon img {
    width: 10px;
    height: 10px;
  }
  .skill-icon svg {
    width: 10px;
    height: 10px;
  }
  .skill-card {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 670px) {
  .heading h1 {
    font-size: 1rem;
  }
  .heading p {
    font-size: 0.75rem;
  }
  .layout-nav li {
    font-size: 0.6rem;
  }
  .app-container,
  .container {
    min-height: 100vh;
  }
  .about-container section {
    max-width: 300px !important;
    max-height: 200px;
  }
  .about-container section p {
    font-size: 0.55rem !important;
  }
}
@media screen and (max-height: 470px) {
  .skill-card {
    margin: 0 auto;
  }
}
